@import "tailwindcss";
@source "../jte/**/*.jte";

/* Class based dark mode */
@variant dark (&:where(.dark, .dark *));

/* Customizations */
@theme {
    /* Fonts */
    --default-font-family: "Inter";

    /* Animations */
    --animate-full-tl: full-tl 25s linear infinite;
    --animate-full-tr: full-tr 25s linear infinite;

    @keyframes full-tl {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes full-tr {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }
}

/* Alpine x-cloak style (https://alpinejs.dev/directives/cloak) */
@layer base {
    [x-cloak] {
        display: none !important;
    }
}